<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <style>
    #homediv {
      padding-top: 2px;
      padding-right: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
    }
  </style>

</head>

<body>
  <div id="homediv">

    <%- include('./partials/header'); %>
      <%- include('./partials/profile-card'); %>
        <hr>
        <div>

          <div style="padding: 10px;display: inline-block;
        width:30%;vertical-align: top;border-radius: 25px;">
            <div style="padding: 10px;background-color: #CCCCFF;border: 1px;border-style: ridge;border-radius: 10px;">
              <a href="/makenew">
                <button style="font-size: 25px;align-items: center;background-color: #DE3163;" type="button"
                  class="btn btn-success">Generate
                  Room</button>
              </a></div>
            <br>

            <div style="padding: 10px;border: 1px;border-style: ridge;background-color: #DAF7A6;border-radius: 10px;">
              <div style="padding-left: 5px;"> <input type="text" style="font-size: 20px;"></div>
              <br>
              <div style="padding: 5px;">
                <a href="/makenew">
                  <button style="font-size: 25px;align-items: center;" type="button" class="btn btn-success">Join
                    Room</button>
                </a>
              </div>
            </div>
          </div>

          <div style="display: inline-block;border: 1px;border-style: ridge; padding: 10px;font-size:large; width:69%;">
            <table class="table table-sm" style="width:100% ;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Room ID</th>
                  <th scope="col">Creation Date</th>
                </tr>
              </thead>
              <% for(var i=0; i < room_hist.length; i++) { %>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= room_hist[i].room_id %>
                  </td>
                  <td>
                    <%= room_hist[i].time.toString().substr(0, 15) %>
                  </td>
                </tr>
                <% } %>
            </table>
          </div>

        </div>
        <!-- <h5>
          <%= user %>
        </h5>
        <h5>
          <%= mail %>
        </h5>
        <h5>
          <%= image %>
        </h5>
        <h5>
          <%= googleId %>
        </h5> -->




        <!-- <script>
let chat_history = "<%= room_hist %>"
let obj = JSON.parse(chat_history)
</script> -->

  </div>
</body>

</html>