<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/whiteBord.css">

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <!-- <script src="/js/webrtc.js"></script> -->
  <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"
    integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
    crossorigin="anonymous"></script>
  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script>
    function copyInvite() {
      /* Copy the text inside the text field */
      navigator.clipboard.writeText("Join the meeting on uConnect https://uconnect.heroku.com/<%= roomid %>/");

      /* Alert the copied text */
      // this.value = "Open Curtain";
      document.getElementById("copy-invite-button").innerHTML = "Invite Copied"
      // alert("Copied");
    }

    function copyLink() {
      /* Copy the text inside the text field */
      navigator.clipboard.writeText("https://uconnect.heroku.com/<%= roomid %>/");

      /* Alert the copied text */
      // this.value = "Open Curtain";
      document.getElementById("copy-link-button").innerHTML = "Link Copied"
      // alert("Copied");
    }
  </script>
</head>

<body style="width: 100%; height: 100vh;">
  <div style=" height: 100vh;">
    <div class="header">
      <%- include('./partials/header'); %>
    </div>

    <div class="content">
      <div class="left">
        <div
          style="flex-basis: 10%;flex-grow: 1; background-color: #DAF7A6; border: 1px;border-style: ridge;width:100%; padding: 10px;"
          id="message-container">
          <h4>
            Room ID : <%= roomid %>
          </h4>
          <button id="copy-invite-button" class="btn btn-primary" onclick="copyInvite()">Copy Invite</button>
          <button id="copy-link-button" class="btn btn-primary" onclick="copyLink()">Copy Link</button>

        </div>
        <div
          style="flex-basis: 10%;flex-grow: 30; border: 1px;border-style: ridge;background-color: #A3E4D7; width:100%;"
          id="message-container">
        </div>

        <div
          style="flex-basis: 10%;flex-grow: 2; width:100%; padding: 10px;background-color: #DAF7A6;border: 1px;border-style: ridge;"
          id="send-container">
          <input style="margin: 5px;" type="text" class="form-control" id="message-input">
          <button style="margin: 5px;" id="send-button" class="btn btn-danger">Send</button>
        </div>

      </div>
      <div class="right">

        <!-- <div style="vertical-align:bottom;display: flex; flex-direction: column;"> -->

        <!-- <div id="videos" class="videos" style="flex-basis: 90%; flex-grow: 1;width:fit-content;"> -->
        <div style="display: flex; flex-grow: 95%; width:100%;height: fit-content;">
          <div id="localVideoContainer" style="width:100%;height: fit-content;">
            <video id="localVideo" autoplay muted style="height: fit-content; width: 100%;flex-grow: 1;">
            </video>
          </div>
          <!-- Remote videos get appended here -->
        </div>

        <div id="control-holder" style="display: flex; flex-basis: 5%; height: fit-content;width: fit-content;">
          <div style="flex-grow: 1; margin: 5px; height: fit-content;"><button class="btn btn-primary"
              id="stop-stream">PAUSE
              📸</button></div>
          <div style="flex-grow: 1;margin: 5px; height: fit-content;"> <button class="btn btn-primary"
              id="start-stream">RESUME
              ⏯</button></div>
          <div style="flex-grow: 1;margin: 5px; height: fit-content;"> <button class="btn btn-primary"
              id="record-button">RECORD🔴</button></div>
          <div style="flex-grow: 1;margin: 5px; height: fit-content;"><button class="btn btn-primary"
              id="stop-record-button">STOP
              RECORD🟥</button>
          </div>
          <div style="flex-grow: 1;margin: 5px; height: fit-content;"><button class="btn btn-primary"
              id="screen-share-button">SCREEN
              SHARE📺</button>
          </div>
        </div>

        <!-- </div> -->

        <!-- <div class="videos">
          <div class="videoContainer">
            <video id="recording" autoplay></video>
          </div>
        </div> -->

        <!-- <canvas class="whiteboard"></canvas>

        <div class="colors">
          <div class="color black"></div>
          <div class="color red"></div>
          <div class="color green"></div>
          <div class="color blue"></div>
          <div class="color yellow"></div>
        </div> -->

      </div>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/camera.js"></script>
  <script src="/js/deviceToggle.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/webrtc.js"></script>
  <script src="/js/screen.js"></script>
  <script>
    localDisplayName = "<%= user %>"
    roomID = "<%= roomid %>"
  </script>
  <script type="text/javascript">
    start();
  </script>

  <style>
    .controls1 {
      border-radius: 1px;
    }

    .content {
      display: flex;
      background: red;
      height: 100vh;
      margin: 0%;
    }

    .header {
      /* height: fit-content; */
      background-color: yellow;
      margin: 0px;
    }

    .left {
      min-height: 100vh;
      flex-grow: 1;
      flex-basis: 30%;
      background: blue;
      flex-direction: column;
      display: flex;
    }

    .left-inside {
      display: flex;
      flex-direction: column;

    }

    .right {
      flex-grow: 2;
      flex-basis: 70%;
      display: flex;
      min-height: 100vh;
      background: green;
      flex-direction: column;
    }

    .videoContainer {
      flex-basis: 10%;
      flex-grow: 1;
    }

    .localVideoContainer {
      display: flex;
      flex-direction: column;
      background-color: darkorange;
      height: 100%;
      width: 100%;
    }

    .videoLabel {
      flex-grow: 1;
    }

    #localVideo {
      border-radius: 10px;
    }
  </style>
</body>

</html>